@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
body {
	background-image: url("../images/spotmktghphero.jpg");
	background-size: 750px 200px;
	background-repeat:no-repeat;
	text-align: center;
  	color: #222;
  	font-family: 'News Cycle', sans-serif;
  	font-size:16px;
}

#slogan {
	text-align: left;
	color: #191919;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	color: #222;
	font-size: 16px;

}