@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
	background-color: #D3D3D3;
	text-align: center;
  	color: #222;
  	font-family: 'News Cycle', sans-serif;
  	font-size:16px;
}

header {
	background-image: url(../images/spotmktghphero.png);
	background-size: width=100%;
	background-position: center;
	background-repeat: none;
}

.img-logo {
	float: left;
	clear: all;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.img-feature {
	width: 100%;
}

.img-lg {
	width: 300px;
}

.img-md {
	width: 400px;
}

.img-sm {
	width: 100px;
}

.img-xs {
	width: 50px;
}

header img {
	width: 550px;
	display: block;
}

#slogan {
	text-align:left;
	color: #191919;
	font-size: 1.5em;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	text-align: left;
	font-family: 'News Cycle', sans-serif;
	color: #990000;
	font-size: 3em;
}

h2 {
	text-align: center;
	font-family: 'News Cycle', sans-serif;
	font-size: 1.25em;
}

#one {
	padding: 5px;
}

#strategy {
	width: 28%;
	float: left;
    padding: 20px;
}

#social {
	width: 28%;
	float: left;
    padding: 20px;
}

#seo {
	width: 28%;
	float: left;
    padding: 20px;
}

.services {
	padding: 5px;
}

.services img {
	display: block;
	width: 50px;
	margin: 10px
}

.results {
	padding: 20px;
}

.contact {
	padding: 20px;
}

footer {
	padding: 20px;
}