body {
	background-image: url("../images/spotmktghphero.jpg");
	background-size:cover;
	background-repeat:no-repeat;
  	color: #222;
  	font-family: Arial, helvetica, sans-serif;
  	font-size:16px;
}
#slogan {
	font-size: 2em; 
	font-weight: bold;
}
